#  Copy this file to .env and fill in your values
#  NEVER commit your real .env to GitHub! this will cause a lot of issue to who ever does that so be warned becuase the person who finds it gains complete and irreversible control over your entire crypto wallet

GANACHE_URL=http://127.0.0.1:7545
GANACHE_KEY=0xYOUR_GANACHE_PRIVATE_KEY_HERE
SEPOLIA_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_ALCHEMY_API_KEY
PRIVATE_KEY=0xYOUR_METAMASK_PRIVATE_KEY_HERE
NEXT_PUBLIC_CONTRACT_ADDRESS=0xYOUR_DEPLOYED_CONTRACT_ADDRESS_HERE
NEXT_PUBLIC_ALCHEMY_URL=http://127.0.0.1:7545
